.swiper-navigation {
    @include flex-center-row;
    margin-top: 15rem;
    padding: 1rem;

    &-btn {
        --value-x-y: 5rem;

        width: calc(var(--value-x-y) + 4.5rem);
        height: var(--value-x-y);
        @include flex-center-row;
    }

    &-beige {
        background-color: $dark-beige-color;
    }

    &-dark-blue {
        background-color: $dark-blue-color-2;
        transform: scale(-1);
    }
}
