.achievements {
    @media (min-width: 1151px) {
        padding-top: 5.5rem !important;
    }

    @media (min-width: 991px) and (max-width: 1150px) {
        padding: 3rem 0 !important;
        @include prefixing(box-shadow, none);
    }

    @media only screen and (max-width: 576px) {
        padding: 3.5rem 0 4.5rem !important;
    }

    @media (min-width: 768px) and (max-width: 990px) {
        padding: 3rem 0;
        @include prefixing(box-shadow, none);
    }

    @media (min-width: 577px) and (max-width: 767px) {
        padding: 3.5rem 0;
    }

    @media (max-width: 600px) {
        padding: 3.5rem 0;
        @include prefixing(box-shadow, none);
    }

    @media (max-width: 1382px) {
        background-color: transparent;
    }

    &__content {
        width: 100%;
        margin-top: 6rem;
        @include grid-columns(4);

        @include breakpoint(tablet) {
            @include grid-columns(2);
        }

        @include breakpoint(mobile) {
            @include grid-columns(1);
        }

        &__item {
            width: 100%;
            min-height: 20rem;
            text-align: center;
            @include flex-center-column;
            // background-color: red;

            &__desc {
                margin-top: 2.4rem;
                font-size: 1.8rem;
                font-weight: 700;
                color: $dark-beige-color;

                @include breakpoint(tablet) {
                    font-size: 1.5rem;
                }

                @include breakpoint(mobile) {
                    font-size: 1.3rem;
                }
            }

            &__number {
                margin-top: 1.8rem;
                font-size: 2.2rem;
                font-weight: 700;

                @include breakpoint(tablet) {
                    font-size: 1.5rem;
                }

                @include breakpoint(mobile) {
                    font-size: 1.3rem;
                }
            }
        }
    }
}
