.header {
    width: 100vw;
    height: 82vh;
    display: grid;
    place-items: center;
    position: relative;
    background-image: url("../src/assets/images/landing-pic.webp");
    @include reset-bg;

    .container {
        @include flex-between-row;
    }

    .card {
        width: fit-content;
        height: 100%;
        padding: 4rem 1.8rem;
        background-color: #3d4a6282;
        color: $white-color-2;
        z-index: 999;

        &--title {
            display: inline-block;
            margin-bottom: 1.6rem;
            font-size: 5rem;
        }

        &--description {
            font-size: 2.2rem;
        }
    }
}
