// * This is some of normalize.css file + custom styles.

@import "../abstract/variables";
@import "../abstract/colors";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: $main-font-size;
    scroll-behavior: smooth;
    -webkit-tap-highlight-color: transparent !important;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    overflow-x: hidden !important;
}

body {
    height: 200000px;
    margin: 0;
    font-family: $main-font-family;

    &::-webkit-scrollbar {
        width: 0.5rem;
    }

    &::-webkit-scrollbar-track {
        box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    }

    &::-webkit-scrollbar-thumb {
        background-color: $light-beige-color;
        border-radius: 10px;
    }
}

::-moz-selection {
    color: #fff;
    background: $dark-beige-color;
}

::selection {
    color: #fff;
    background: $dark-beige-color;
}
