$light-beige-color: #cfaf6d;
$dark-beige-color: #a58749;

$dark-blue-color-1: #3d4a62;
$dark-blue-color-2: #202b5a;
$dark-blue-color-3: #152546;
$dark-blue-color-4: #676f81;

$white-color-1: #fcfcfd;
$white-color-2: #fafafa;
$white-color-3: #efefef;

$gray-color-1: #aeaeaf;

$bg-overlay-color: #3434496d;
